<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
</head>
<body>
<div class="register-form">
    <div class="register-image">
        <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="" srcset="">
    </div>
    
   
    
    <div class="row">
    <div class="col-mg-6">
    <form action="/login" method="POST" >
    <h3>LOGIN</h3>
    <div class="form1">
    <div class="form-group">

    <label name="label" class="label" >Enter the Email</label>
    <input type="text" name="email" class="form-control" placeholder="Your Email *" value="" />
    </div>
  
    <div class="form-group">
    <label name="label" class="label" >Enter the Password</label>
    <input type="password" name="password" class="form-control" placeholder="Enter the Password" value="" />
    </div>
    <div class="form-group">
    <input type="submit" name="btnRegister" class="btnregister" value="Login" />
    </div>
     <div class="form-login">
        <a href="url" class="login">Create new account</a>

        </div>
    </div>
     </div>
    </div>
    <div class="logo">
     <a href="#" class="fa fa-facebook"></a>
     <a href="#" class="fa fa-linkedin"></a>
     <a href="#" class="fa fa-instagram"></a>
     <a href="#" class="fa fa-youtube"></a>
    </div>
    
    </div>
</form>
</div>
    
</body>
</html>